<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.alexsheiko.invitationmaker"
          android:installLocation="preferExternal">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.alexsheiko.invitationmaker.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/AppTheme.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.GridActivity"
            android:parentActivityName=".ui.MainActivity"/>
        <activity
            android:name=".ui.ResultActivity"
            android:parentActivityName=".ui.GridActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.EditActivity"
            android:parentActivityName=".ui.GridActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>